.Calendar {
  font-family: Arial, sans-serif;
}

.Calendar table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.Calendar th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.Calendar th {
  background-color: #f2f2f2;
}

.Calendar .holiday {
  color: red;
  font-weight: bold;
}
.Calendar .weekend {
  color: red;
  font-weight: bold;
}

.Calendar .calendarButton {
  margin-top: 10px;
}

.Calendar .button-container button {
  padding: 8px;
  margin: 0 5px;
  cursor: pointer;
}